@import 'vars';
@import 'typography';

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #1c3909;

}

body, h1, h2, h3 {
  font-weight: 300
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #5aadbb;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#halycon-backdrop{
  z-index:0;
  background-image: url("/images/bg-halcyon.jpg");
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-repeat: no-repeat;
  background-size:cover;
  background-color:#333;
}

#splash-title-container{
  position:absolute;
  width:500px;
  left:50%;
  height:300px;
  top:40%;
  margin-left:-250px;
  margin-top:-150px;
  border: 10px double #FFF;
  box-shadow: 0px 0px 70px #000;
  background-color:rgba(0, 0, 0, 0.35);
}
#splash-title{
  text-align:center;
  color:#FFF;
  font-family: Papyrus,fantasy;
  font-size:50px;
  text-shadow: 0 0 15px #000;
  font-weight:bold;
}
#splash-img{
  display:block;
  //width:350px;
  width:100%;
  height:300px;
  background-image: url("/images/tyrants-monocle.png");
  background-repeat: no-repeat;
  background-size: 80%;
  //margin: 0 auto;
  margin-top:-50px;
  background-position:center;
  //box-shadow: 0 0 50px #fff;
  //border-radius:50%;
  cursor:pointer;
}

#splash-footer{
  color: #FFF;
  width:100%;
  text-align: right;
  position: absolute;
  bottom:5px;
  right:5px;
}

#splash-img:hover{
  //box-shadow: 0 0 100px #fff;
  //-webkit-transition: 200ms linear 0s;
  //-moz-transition: 200ms linear 0s;
  //-o-transition: 200ms linear 0s;
  //transition: 200ms linear 0s;
}

$bg-opcatity: .5;

.header-title{
  text-align:center;
  color:#FFF;
  font-family: Papyrus,fantasy;
  font-size:60px;
  text-shadow: 0 0 15px #FFF;
  font-weight:bold;
  padding:25px;
  width: 100%;
  //background-color:rgba(0, 0, 0, $bg-opcatity);
  margin:20px;

}

.nav-block-container{
  width:100%;
}
.nav-block-header{
  margin-top:15px;
  width:100%;
  background-color:rgba(0, 0, 0, $bg-opcatity);
  color:#FFF;
  font-size:22px;
  padding:10px;
  //border: 10px solid rgba(255, 255, 255, 0.35);
  font-weight:bold;

}
.nav-block-footer{
  width:100%;
  background-color:rgba(0, 0, 0, $bg-opcatity);
  color:#FFF;
  font-size:14px;
  padding:10px;
  margin-top:15px;
  //border: 10px solid rgba(255, 255, 255, 0.35);
}
#background-backdrop{
  //background-color:rgba(0, 0, 0, 0.10);
  width:100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+34,000000+100&0+35,0+35,0.3+69,0.8+89 */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 34%, rgba(0,0,0,0) 35%, rgba(0,0,0,0.3) 69%, rgba(0,0,0,0.8) 89%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 34%,rgba(0,0,0,0) 35%,rgba(0,0,0,0.3) 69%,rgba(0,0,0,0.8) 89%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 34%,rgba(0,0,0,0) 35%,rgba(0,0,0,0.3) 69%,rgba(0,0,0,0.8) 89%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


  height:100%;
  position:absolute;
  z-index:0;

  //-webkit-filter: blur(3px);
  //-moz-filter: blur(3px);
  //-o-filter: blur(3px);
  //-ms-filter: blur(3px);
  //filter: blur(3px);
}
.match-started{
  color:#CCC;
  font-style: italic;
  margin-right:10px;
  font-size:12px;
}
.match-mode{
  color:#F88;
  font-weight:bold;
}
.match-player{
  color:#AAF;
}
.match-vs{
  color:#CCC;
  margin-left:5px;
  margin-right:5px;
  font-weight:bold;
}
.match-table{
  cursor: pointer;
}
.match-table td{
  padding:5px;
}
.match-table tr:hover{
  background-color:rgba(255, 255, 255, .1);
}
.actor-image{
  width:70px;
  margin:2px;
  border:2px solid #333;
  cursor:pointer;
}
.actor-image:hover{
  border: 2px solid #FFF;
}
.match-lookup-table{
  margin:5px;
}
.match-lookup-table td{
  padding:5px;
}
table.match-players{
  width:100%;
}
table.match-players td{
  text-align:center;
}

table.match-players tr:nth-child(2) td.winner{
  font-weight:bold;
  color:#aea;
}
table.match-players tr:nth-child(2) td.loser{
  font-weight:bold;
  color:#eaa;
}

table.match-players tr:nth-child(1) td:nth-child(2){
  color:#CCC;
  font-weight:bold;
  font-size:16px;
}

table.match-players tr:nth-child(4){
  color:#DDF;
  font-size:12px;
}

.match-team-name{
  font-weight:bold;
}
.team-won:after{
  content: " (Won)"
}
.team-lost:after{
  content: " (Lost)"
}

.winning-team{
  width:100%;
  text-align:center;
  display:block;
  font-size:30px;
  color:gold;
  font-family: "Lucida Bright", Georgia, serif;
  font-weight:bold;
}
.prediction-table{
  width:100%;
}
.prediction-table td:nth-child(2){
  width:300px;
}
.actor-image-large{
  width:100px;
  float:left;
  margin:10px;
}
.player-match-list{
  max-height:600px;
  overflow-y: auto;
}

body::-webkit-scrollbar, div::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track, div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.insight{

}
.insight-stat{
  font-size: 22px;
  width:100%;
  text-decoration:underline;
  text-transform: capitalize;
}
.insight-description{

}

.insight-block{
  max-height:600px;
  overflow-y: auto;
}

.team-actor-single {
  width: 70px;
  float: left;
  margin: 5px;
  height: 70px;
  cursor:pointer;
}
.team-actor-single-missing:hover{
  border: 2px solid #FFF;
  background-color:rgba(0, 0, 0, 0.15);
}
.team-actor-single-missing{
  background-color:rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100%;
  vertical-align:middle;
  text-align:center;
  font-size:32px;
  line-height:70px;
  margin:0;
  border:2px solid #333;
  padding:0;
}
.vs-text {
  height:70px;
  float:left;
  line-height:80px;
  margin-left:10px;
  margin-right:10px;
  width:20px;
}
.match-types-table{
  width:100%;
}

table.match-types-table td{
  text-align:center;
}
.match-type{
  margin:5px;
  border:2px solid #333;
  padding:5px;
  height:70px;
  font-size:18px;
  line-height:60px;
  background-color:rgba(0, 0, 0, 0.35);
  cursor:pointer;
}

.match-type:hover{
  border: 2px solid #FFF;
  background-color:rgba(0, 0, 0, 0.15);
}

.match-type.match-type-selected{
  background-color:rgba(255, 255, 255, 0.15);
}

table.player-stats{
  width:100%;
}
table.player-stats td{
  padding:5px;
}
