<div class="container">
  <div class="row row-centered">
    <div class="col-xs-12 col-centered header-title">
      Tyrant's Monocle <img style="margin-left: 20px; width:300px; height:100px;" src="/images/tyrants-monocle.png">
    </div>
  </div>
  <div class="row row-centered">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-centered">
      <div class="nav-block-container">
        <div class="nav-block-header">
          Match Information
        </div>
        <div class="nav-block-footer">
          <table class="match-players">
            <tr>
              <td colspan="3">
                <span class="match-team-name" ng-class="{'team-won': matches[0].winner == 0, 'team-lost': matches[0].winner == 1}">Team A</span>
              </td>
              <td rowspan="4">VS.</td>
              <td colspan="3">
                <span class="match-team-name" ng-class="{'team-won': matches[0].winner == 1, 'team-lost': matches[0].winner == 0}">Team B</span>
              </td>
            </tr>
            <tr>
              <td ng-repeat="player in matches[0].players[0]" ng-class="{'winner': matches[0].winner == 0, 'loser': matches[0].winner == 1}">
                {{player.actor|vgLookup}}
              </td>
              <td ng-repeat="player in matches[0].players[1]" ng-class="{'winner': matches[0].winner == 1, 'loser': matches[0].winner == 0}">
                {{player.actor|vgLookup}}
              </td>
            </tr>
            <tr>
              <td ng-repeat="player in matches[0].players[0]">
                <img ng-click="selectPlayer(player.actor)" ng-src="/images/actors/{{player.actor|vgLookup}}.png" class="actor-image">
              </td>
              <td ng-repeat="player in matches[0].players[1]">
                <img ng-click="selectPlayer(player.actor)" ng-src="/images/actors/{{player.actor|vgLookup}}.png" class="actor-image">
              </td>
            </tr>
            <tr>
              <td ng-repeat="player in matches[0].players[0]">
                {{player.player}}
              </td>
              <td ng-repeat="player in matches[0].players[1]">
                {{player.player}}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-centered">
      <div class="nav-block-container">
        <div class="nav-block-header">
          Prediction
        </div>
        <div class="nav-block-footer">
          <table class="prediction-table">
            <tr>
              <td>
                <span class="winning-team" ng-if="matches[0].prediction.a >= matches[0].prediction.b">
                  Team A
                </span>
                <span class="winning-team" ng-if="matches[0].prediction.a < matches[0].prediction.b">
                  Team B
                </span>
              </td>
              <td>
                <ng-gauge size="130" type="full" thick="5" value="matches[0].prettyPrediction.a" cap="round" label="Team A"  foreground-color="#F88" background-color="rgba(255,255,255, 0.4)" append="%"></ng-gauge>
                <ng-gauge size="130" type="full" thick="5" value="matches[0].prettyPrediction.b" cap="round" label="Team B"  foreground-color="#88F" background-color="rgba(255,255,255, 0.4)" append="%"></ng-gauge>
              </td>
            </tr>
            <tr ng-if="((matches[0].prediction.a >= matches[0].prediction.b) && matches[0].winner == 0) || ((matches[0].prediction.a < matches[0].prediction.b) && matches[0].winner == 1)">
              <td colspan="2">
                <h3>We were right this time!</h3>
                Our prediction matched the game outcome.
              </td>
            </tr>
            <tr ng-if="((matches[0].prediction.a >= matches[0].prediction.b) && matches[0].winner == 1) || ((matches[0].prediction.a < matches[0].prediction.b) && matches[0].winner == 0)">
              <td colspan="2">
                <h3>Looks like we were wrong!</h3>
                Our prediction did not match the game outcome.
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-centered">
      <div class="nav-block-container">
        <div class="nav-block-header">
          Player Stats
        </div>
        <div class="nav-block-footer">
          <img ng-src="/images/actors/{{selectedPlayer.actor|vgLookup}}.png" class="actor-image-large">
          <!--{{selectedPlayer}}-->
          <h3>{{selectedPlayer.actor|vgLookup}} ({{selectedPlayer.player}})</h3>
          <table>
            <tr>
              <td>Kills</td>
              <td>{{selectedPlayer.stats.kills}}</td>
            </tr>
            <tr>
              <td>Deaths</td>
              <td>{{selectedPlayer.stats.deaths}}</td>
            </tr>
            <tr>
              <td>Assists</td>
              <td>{{selectedPlayer.stats.assists}}</td>
            </tr>
            <tr>
              <td>Level</td>
              <td>{{selectedPlayer.stats.level}}</td>
            </tr>
            <tr>
              <td>Minions Killed</td>
              <td>{{selectedPlayer.stats.minionKills}}</td>
            </tr>
            <tr>
              <td>Turrets Captured</td>
              <td>{{selectedPlayer.stats.turretCaptures}}</td>
            </tr>
            <tr>
              <td>AFK?</td>
              <td>{{(selectedPlayer.stats.wentAfk) ? "Yes" : "No"}}</td>
            </tr>
            <tr>
              <td>Player's Level</td>
              <td>{{selectedPlayer.playerStats.level}}</td>
            </tr>
            <tr>
              <td>Matches Played</td>
              <td>{{selectedPlayer.playerStats.played}}</td>
            </tr>
            <tr>
              <td>Ranked Matches Played</td>
              <td>{{selectedPlayer.playerStats.played_ranked}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-centered">
      <div class="nav-block-container">
        <div class="nav-block-header">
          Insights
        </div>
        <div class="nav-block-footer">

        </div>
      </div>
    </div>
  </div>
</div>
