<div class="container">
  <div class="row row-centered">
    <div class="col-xs-12 col-centered">
      <h1 class="header-title">Tyrant's Monocle</h1>
    </div>
  </div>
  <div class="row row-centered">
    <div class="col-xs-6 col-centered">
      <div class="nav-block-container">
        <div class="nav-block-header">
          Live Matches
        </div>
        <div class="nav-block-footer">
          Sample matches
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-centered">
      <div class="nav-block-container">
        <div class="nav-block-header">
          Simulate a Match
        </div>
        <div class="nav-block-footer">
          Sample matches
        </div>
      </div>
    </div>
  </div>
</div>
